
doctype html
html
  head
    meta(charset="utf-8")
    title Welkom

    script(type="text/javascript" src="./server.js" async defer)

    style(type="text/css").
      
      h1 {
      	font-family: "Lobster", "comic sans", serif;
      	font-color: purple;
      	font-border: white;
      }

  body
    h1 de Roedel

 
